.hg
.hgignore
.hgtags
.DS_Store
*.orig
*.swp
*.bak
*/old/*
_orig

dev/mysql/iovar

doc/iovar/api

etc/app.properties
etc/build.properties
etc/mysql.conf
etc/rc.local
etc/web.xml

nbproject/project.xml
nbproject/private/*

test/*

var/log

WEB-INF/classes
WEB-INF/lib/**/*.jar
WEB-INF/tmp

WEB-INF/iovar.war
WEB-INF/app.properties
WEB-INF/build.properties
WEB-INF/iovar.web.xml
WEB-INF/web.xml


